
<section class="container-aceites">
    <h1 class="text-center">Tipos de aceite  </h1>
    <aside class="scroll">
        <div class="card mb-3 border-dark " style="width: 100%;">
            <img src="../../../../../assets/img/aceite-mineral.jpg" class="card-img-top" alt="aceite sintetico">
            <div class="card-body">
                <h5 class="card-title fs-2 fw-bold">Aceites minerales</h5>
                <p class="card-text"> El aceite mineral utiliza directamente una base refinada del petróleo, por lo que, ofrece unas prestaciones diferentes a los lubricantes sintéticos y ciertas ventajas. Se suele recomendar en motores con bastante desgaste y muchos kilómetros acumulados. Los periodos de cambio del aceite con los aceites minerales son más cortos que con los sintéticos.</p>
            </div>
        </div>
        <div class="card mb-3 border-dark" style="width: 100%;">
        <img src="../../../../../assets/img/semisintetico.jpg" class="card-img-top" alt="aceite sintetico">
            <div class="card-body">
                <h5 class="card-title fs-2 fw-bold">Aceites semisintéticos</h5>
                <p class="card-text"> También podemos encontrar el aceite semisintético, cuya base se elabora a partir de la mezcla de bases minerales y sintéticas. Son los de uso más generalizado por su excelente respuesta, aunque sus prestaciones no pueden igualarse a las de los aceites 100% sintéticos.</p>
            </div>
        </div>
        <div class="card mb-3 border-dark" style="width: 100%;">
            <img src="../../../../../assets/img/aceite-motor-sintetico.jpg" class="card-img-top" alt="aceite sintetico">
            <div class="card-body">
                <h5 class="card-title fs-2 fw-bold">Aceites sintéticos</h5>
                <p class="card-text">En el caso del aceite sintético, esa base destilada y refinada del petróleo se somete a un proceso de transformación para desarrollar unas características determinadas y alcanzar unos estándares de calidad más altos. Son aceites menos volátiles y aguantan mejor las temperaturas extremas, por lo que aseguran la protección del motor y mantienen sus propiedades estables durante más tiempo. Son, por tanto, perfectos para motores exigentes.</p>
            </div>
        </div>
    </aside>
</section>