  <section class="card-principal">
    <ng-container *ngIf="auto">
      <h2 >Resultado de busqueda</h2> 
      <div class="card text-white bg-dark mb-3 border-warning mb-3 " style="width: 18rem;">
        <img src="{{auto.logo}}" class="card-img-top" alt="logo {{auto.marca}}">
          <div class="card-body">
            <h5 class="card-title text-center"> {{auto.marca |uppercase}}</h5>
            <p class="card-text">Fundador: <br>{{ auto.fundador }}</p>
            <p class="card-text">Año fundacion: <br> {{ auto.fundacion }}</p>
            <p class="card-text">Sede: <br> {{ auto.sede }}</p>
            <a href="{{ auto.url }}" target="_blank" class="btn btn-dark btn btn-outline-warning">Saber mas</a>
          </div>
      </div>
    </ng-container>
  </section>