.cardAutos{  
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    .title--cars{
        width: 100%;
        text-align: center;
    }
}
.card{
    margin: 5px;
}
.botones{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.card-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title--main{
font-weight: bold;
text-align: center;
padding: 50px;
}