<section class="container--clas">
    <article class="description">   
        <div class="title--card">
            <h1>Clasificación SAE</h1>
            <img src="../../../../../assets/img/SAE.png" alt="">
        </div>
        <p class="fs-5 ps-4">
            La SAE es el acrónimo de <strong>Sociedad de Ingenieros Automotrices</strong> (del inglés Society of Automotive Engineers). Esta institución es la encargada de establecer una clasificación basada en la relación de la viscosidad del aceite con la temperatura a la que está sometido el motor durante su funcionamiento. De este modo, se realiza, por un lado, midiendo la viscosidad en frío a diferentes temperaturas bajo cero y, por otro, en caliente a 100 grados centígrados. <br> 
            Así, la SAE establece once tipos de aceite de motor que van desde 0W a 60. La W (que viene de winter, “invierno” en inglés) tras el número indica que es un aceite adaptado para emplearse a bajas temperaturas. <br> 
            El primer número de la nomenclatura SAE se refiere a la viscosidad en frío y a bajas temperaturas; es decir, al espesor del aceite en el arranque en frío, antes de que el motor se caliente. El segundo número indica la viscosidad cuando el aceite está caliente, por tanto, cuando el motor en funcionamiento alcanza su máxima temperatura.    <br> 
        </p>
        <figure class="imagen--container">
            <img class="imagen--tablas" src="../../../../../assets/img/escala SAE.jfif" alt="escala SAE">
        </figure>
    </article>
    <article class="aceites--container">
        <app-aceites></app-aceites>
    </article>
</section>
<hr>
<article class="description container2 ">
    <div class="title--card">
        <h1>Clasificación API</h1>
        <img  src="../../../../../assets/img/API.png" alt="">
    </div>
    <p class="fs-5 ps-4">
        El <strong>Instituto Americano del Petróleo</strong> (American Petroleum Institute, en inglés) ha desarrollado el sello de calidad API, que define unos estándares mínimos que todos los lubricantes deben cumplir en cuanto a la protección del motor y la conservación de los diferentes componentes mecánicos del automóvil. <br> 
        Así, dependiendo de las características técnicas del lubricante se categorizan alfabéticamente mediante dos letras: <br> 
        La primera letra especifica el tipo de motor para el que es apto (S, en caso de lubricantes específicos para motores de gasolina, y C, para lubricantes específicos de motores diésel, si bien sólo son válidos para motores diésel de maquinaria pesada, camiones, autobuses, etc, y no así para vehículos ligeros). La segunda letra indica el nivel de calidad del lubricante, siguiendo el orden alfabético de forma ascendente. De esta manera, los niveles actuales que podemos encontrar son los siguientes:<br> 
    </p>
    <ul>
        <li>Motores gasolina: SH, SJ, SL, SM y SN. </li>
        <li>Motores diésel: CH-4, CI-4, CJ-4, CK-4 (motores diésel vehículos pesados)</li>
    </ul>
    <figure class="imagen--container">
        <img class="imagen--tablas " src="../../../../../assets/img/escala API.jpg" alt="escala API">
    </figure>
</article>
