<h1 class="ms-5"><b>Cuidas tus llantas?</b></h1>
<h2 class="text-center">Eston son algunos tips  que te ayudaran a preservar la vida util de tus llantas</h2>
<section class="llantas--container">
    <Article class="item--container mt-5 "  style="width: 45%;">
        <img src="../../../../../assets/img/presion-llantas-calcomania.jpg"  alt="...">
        <div class="ms-2">
            <h5 class="card-title fs-6 fw-bold">¿Cuál es la presión adecuada de las llantas?</h5>
            <p class="card-text">Si no está seguro sobre la presión que deben llevar sus llantas,revise en En el manual del propietario En el marco de la puerta del conductor Dentro de la tapa del combustible Dentro de la guantera</p>
        </div>
    </Article>
    <Article class="item--container mt-5 "  style="width: 45%;">
        <img src="../../../../../assets/img/presionllantas.jfif"  alt="...">
        <div class="ms-2">
            <h5 class="card-title fs-6 fw-bold">¿Cuanta presión de aire debe llevar una llanta?</h5>
            <p class="card-text">Revisar la presión de todas las llantas regularmente es lo más recomendable.Por lo menos  cada semana y cuando las llantas estén frías y usando un calibrador confiable.</p>
        </div>
    </Article >
    <article class="mt-5" style="width: 45%;">
        <h2 class="text-center">La correcta presión de aire dará como resultado</h2>
        <ul>
            <li>Frenado rápido</li>
            <li>Rápida respuesta en la dirección</li>
            <li>Vida óptima de la llanta</li>
            <li >Economía de combustible</li>
        </ul>
    </article>
    <article class="mt-5" style="width: 45%;">
        <h2 class="text-center">Una incorrecta presión de aire dará como resultado</h2>
        <ul>
            <li>Desgaste acelerado</li>
            <li>Menos agarre</li>
            <li>Frenado lento</li>
        </ul>
    </article>
</section>
